.idea/
_old/

*account.tfvars


_old/
.idea/
.pytest_cache

*.tfstate/
*.tfstate.backup
*.tfplan

.terragrunt-cache/
.terraform/
/aws/modules/terraform-aws-icon-p-rep-keys/
/aws/modules/terraform-aws-icon-citizen-node/
/aws/modules/terraform-aws-icon-citizen-sg/
/aws/modules/terraform-aws-cloudfront-s3-acm/
/aws/modules/terraform-aws-icon-p-rep-node/
/aws/modules/terraform-aws-icon-p-rep-sg/

/aws/modules/*
/aws/modules/terraform-aws-icon-node-iam/
/aws/modules/terraform-aws-subdomain-simple/
/aws/modules/terraform-aws-icon-iam/
/aws/modules/tf_aws_bastion_s3_keys_tmp/
